<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="eng">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/output.css" rel="stylesheet" />
</head>
<body class="flex justify-center items-end">
<img
        src="/images/pexels-davegarcia-31056502.jpg"
        class="h-screen w-screen"
        alt=""
/>
<div class="h-1/3 w-1/3 absolute">
    <h1 class="text-7xl text-amber-100">COLLEGE OF ARTS AND SCIENCE</h1>
    <h2 class="text-5xl text-amber-100">
        Click <a href="/login" class="text-blue-700">here</a> to login
    </h2>
</div>
</body>
</html>
